In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("sentiment_tweets.csv")

In [3]:
data.head()

,Index,message to examine,label (depression result)
0,106,just had a real good moment. i missssssssss hi...,0
1,217,is reading manga http://plurk.com/p/mzp1e,0
2,220,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,288,@lapcat Need to send 'em to my accountant tomo...,0
4,540,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0

In [4]:
data["label (depression result)"].value_counts()

0    8000
1    2314
Name: label (depression result), dtype: int64

In [5]:
data.tail()

,Index,message to examine,label (depression result)
10309,802309,No Depression by G Herbo is my mood from now o...,1
10310,802310,What do you do when depression succumbs the br...,1
10311,802311,Ketamine Nasal Spray Shows Promise Against Dep...,1
10312,802312,dont mistake a bad day with depression! everyo...,1
10313,802313,0,1

In [8]:
data.loc[2]['message to examine']

'@comeagainjen http://twitpic.com/2y2lx - http://www.youtube.com/watch?v=zoGfqvh2ME8 '

In [10]:
data.loc[10309]['message to examine']

"No Depression by G Herbo is my mood from now on, i'm done stressing over people that don't deserve it"

In [11]:
data.isnull().sum()

Index                        0
message to examine           0
label (depression result)    0
dtype: int64

In [12]:
data.drop(["Index"], axis = 1, inplace = True)

In [13]:
data.head()

,message to examine,label (depression result)
0,just had a real good moment. i missssssssss hi...,0
1,is reading manga http://plurk.com/p/mzp1e,0
2,@comeagainjen http://twitpic.com/2y2lx - http:...,0
3,@lapcat Need to send 'em to my accountant tomo...,0
4,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0

In [16]:
# Check if there is any number
for i in data["message to examine"]:
    for j in i.split():
    if j.isdigit():
      numb = "yes"
    else:
      numb = "no"

In [17]:
print(numb)

yes

In [18]:
import re

In [19]:
# Removal of numbers
def remove_numbers(text):
    return ' '.join([i for i in str(text).split() if not i.isdigit()])

In [20]:
data["clean_text"] = data["message to examine"].apply(lambda x: remove_numbers(x))

In [21]:
data

,message to examine,label (depression result),clean_text
0,just had a real good moment. i missssssssss hi...,0,just had a real good moment. i missssssssss hi...
1,is reading manga http://plurk.com/p/mzp1e,0,is reading manga http://plurk.com/p/mzp1e
2,@comeagainjen http://twitpic.com/2y2lx - http:...,0,@comeagainjen http://twitpic.com/2y2lx - http:...
3,@lapcat Need to send 'em to my accountant tomo...,0,@lapcat Need to send 'em to my accountant tomo...
4,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0,ADD ME ON MYSPACE!!! myspace.com/LookThunder
...,...,...,...
10309,No Depression by G Herbo is my mood from now o...,1,No Depression by G Herbo is my mood from now o...
10310,What do you do when depression succumbs the br...,1,What do you do when depression succumbs the br...
10311,Ketamine Nasal Spray Shows Promise Against Dep...,1,Ketamine Nasal Spray Shows Promise Against Dep...
10312,dont mistake a bad day with depression! everyo...,1,dont mistake a bad day with depression! everyo...
10313,0,1,

In [22]:
# Removal of Weblinks
def remove_weblinks(text):
    return re.sub(r"http\S+", "", text)

In [23]:
data['clean_text1'] = data['clean_text'].apply(lambda x: remove_weblinks(x))

In [24]:
data.head()

,message to examine,label (depression result),clean_text,clean_text1
0,just had a real good moment. i missssssssss hi...,0,just had a real good moment. i missssssssss hi...,just had a real good moment. i missssssssss hi...
1,is reading manga http://plurk.com/p/mzp1e,0,is reading manga http://plurk.com/p/mzp1e,is reading manga
2,@comeagainjen http://twitpic.com/2y2lx - http:...,0,@comeagainjen http://twitpic.com/2y2lx - http:...,@comeagainjen -
3,@lapcat Need to send 'em to my accountant tomo...,0,@lapcat Need to send 'em to my accountant tomo...,@lapcat Need to send 'em to my accountant tomo...
4,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0,ADD ME ON MYSPACE!!! myspace.com/LookThunder,ADD ME ON MYSPACE!!! myspace.com/LookThunder

In [25]:
data.loc[2]["clean_text1"]

'@comeagainjen  - '

In [26]:
#Lowercasing the tweets
data['clean_text1'] = data['clean_text1'].str.lower()

In [27]:
data.head()

,message to examine,label (depression result),clean_text,clean_text1
0,just had a real good moment. i missssssssss hi...,0,just had a real good moment. i missssssssss hi...,just had a real good moment. i missssssssss hi...
1,is reading manga http://plurk.com/p/mzp1e,0,is reading manga http://plurk.com/p/mzp1e,is reading manga
2,@comeagainjen http://twitpic.com/2y2lx - http:...,0,@comeagainjen http://twitpic.com/2y2lx - http:...,@comeagainjen -
3,@lapcat Need to send 'em to my accountant tomo...,0,@lapcat Need to send 'em to my accountant tomo...,@lapcat need to send 'em to my accountant tomo...
4,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0,ADD ME ON MYSPACE!!! myspace.com/LookThunder,add me on myspace!!! myspace.com/lookthunder

In [28]:
# Removal of Twitter mentions
def remove_twitter(text):
    return re.sub('@[\w]+','',text)

In [29]:
data['clean_text2'] = data['clean_text1'].apply(lambda x: remove_twitter(x))

In [30]:
data.head()

,message to examine,label (depression result),clean_text,clean_text1,clean_text2
0,just had a real good moment. i missssssssss hi...,0,just had a real good moment. i missssssssss hi...,just had a real good moment. i missssssssss hi...,just had a real good moment. i missssssssss hi...
1,is reading manga http://plurk.com/p/mzp1e,0,is reading manga http://plurk.com/p/mzp1e,is reading manga,is reading manga
2,@comeagainjen http://twitpic.com/2y2lx - http:...,0,@comeagainjen http://twitpic.com/2y2lx - http:...,@comeagainjen -,-
3,@lapcat Need to send 'em to my accountant tomo...,0,@lapcat Need to send 'em to my accountant tomo...,@lapcat need to send 'em to my accountant tomo...,need to send 'em to my accountant tomorrow. o...
4,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0,ADD ME ON MYSPACE!!! myspace.com/LookThunder,add me on myspace!!! myspace.com/lookthunder,add me on myspace!!! myspace.com/lookthunder

In [31]:
import nltk

In [32]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SABEER\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [33]:
from nltk.corpus import stopwords 
from nltk.tokenize import word_tokenize 
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
#from nltk.tokenize import RegexpTokenizer

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
import string

In [34]:
#Removal of punctuations
def remove_punc(string_input):
    try:
        no_punc = "".join([char for char in string_input if char not in string.punctuation])
    except:
        print(string_input)
    return no_punc

In [36]:
data['clean_text3'] = data.clean_text2.apply(remove_punc)

In [37]:
data['clean_text3'].head()

0    just had a real good moment i missssssssss him...
1                                    is reading manga
2
3     need to send em to my accountant tomorrow odd...
4              add me on myspace myspacecomlookthunder
Name: clean_text3, dtype: object

In [38]:
#Removal of Stopwords
stopword_master = stopwords.words('english')
data['clean_text4'] = data['clean_text3'].apply(lambda x: " ".join([word for word in x.split() if not word in stopword_master]))

In [39]:
data['clean_text4'].head()

0                   real good moment missssssssss much
1                                        reading manga
2
3    need send em accountant tomorrow oddly wasnt e...
4                    add myspace myspacecomlookthunder
Name: clean_text4, dtype: object

In [40]:
#Stemming of words
stemmer = PorterStemmer()
def stemmer_func(sent):
    final = " ".join([stemmer.stem(word) for word in sent.split()])
    return final

In [41]:
data['clean_stem_word'] = data.clean_text4.apply(stemmer_func)

In [42]:
data['clean_stem_word'].head()

0                   real good moment missssssssss much
1                                           read manga
2
3    need send em account tomorrow oddli wasnt even...
4                       add myspac myspacecomlookthund
Name: clean_stem_word, dtype: object

In [43]:
#Replacing some short words
short_words = {
"aint": "am not",
"arent": "are not",
"cant": "cannot",
"'cause": "because",
"couldve": "could have",
"couldnt": "could not",
"didnt": "did not",
"doesnt": "does not",
"dont": "do not",
"hadnt": "had not",
"hasnt": "has not",
"havent": "have not",
"im": "I am",
"em": "them",
"ive": "I have",
"isnt": "is not",
"lets": "let us",
"theyre": "they are",
"theyve": "they have",
"wasnt": "was not",
"well": "we will",
"were": "we are",
"werent": "were not",
"you're": "you are",
"you've": "you have"
}

In [50]:
def replace_short_words(text):
    for word in text.split():
        if word in short_words:
            text = text.replace(word, short_words[word])
    return text

In [52]:
data["clean_tweets"] = data['clean_stem_word'].apply(lambda text: replace_short_words(text))

In [53]:
data["clean_tweets"].head()

0                   real good moment missssssssss much
1                                           read manga
2
3    need send them account tomorrow oddli was not ...
4                       add myspac myspacecomlookthund
Name: clean_tweets, dtype: object

In [54]:
data

,message to examine,label (depression result),clean_text,clean_text1,clean_text2,clean_text3,clean_text4,clean_stem_word,clean_tweets
0,just had a real good moment. i missssssssss hi...,0,just had a real good moment. i missssssssss hi...,just had a real good moment. i missssssssss hi...,just had a real good moment. i missssssssss hi...,just had a real good moment i missssssssss him...,real good moment missssssssss much,real good moment missssssssss much,real good moment missssssssss much
1,is reading manga http://plurk.com/p/mzp1e,0,is reading manga http://plurk.com/p/mzp1e,is reading manga,is reading manga,is reading manga,reading manga,read manga,read manga
2,@comeagainjen http://twitpic.com/2y2lx - http:...,0,@comeagainjen http://twitpic.com/2y2lx - http:...,@comeagainjen -,-,,,,
3,@lapcat Need to send 'em to my accountant tomo...,0,@lapcat Need to send 'em to my accountant tomo...,@lapcat need to send 'em to my accountant tomo...,need to send 'em to my accountant tomorrow. o...,need to send em to my accountant tomorrow odd...,need send em accountant tomorrow oddly wasnt e...,need send em account tomorrow oddli wasnt even...,need send them account tomorrow oddli was not ...
4,ADD ME ON MYSPACE!!! myspace.com/LookThunder,0,ADD ME ON MYSPACE!!! myspace.com/LookThunder,add me on myspace!!! myspace.com/lookthunder,add me on myspace!!! myspace.com/lookthunder,add me on myspace myspacecomlookthunder,add myspace myspacecomlookthunder,add myspac myspacecomlookthund,add myspac myspacecomlookthund
...,...,...,...,...,...,...,...,...,...
10309,No Depression by G Herbo is my mood from now o...,1,No Depression by G Herbo is my mood from now o...,no depression by g herbo is my mood from now o...,no depression by g herbo is my mood from now o...,no depression by g herbo is my mood from now o...,depression g herbo mood im done stressing peop...,depress g herbo mood im done stress peopl dont...,depress g herbo mood I am done stress peopl do...
10310,What do you do when depression succumbs the br...,1,What do you do when depression succumbs the br...,what do you do when depression succumbs the br...,what do you do when depression succumbs the br...,what do you do when depression succumbs the br...,depression succumbs brain makes feel like youl...,depress succumb brain make feel like youll nev...,depress succumb brain make feel like youll nev...
10311,Ketamine Nasal Spray Shows Promise Against Dep...,1,Ketamine Nasal Spray Shows Promise Against Dep...,ketamine nasal spray shows promise against dep...,ketamine nasal spray shows promise against dep...,ketamine nasal spray shows promise against dep...,ketamine nasal spray shows promise depression ...,ketamin nasal spray show promis depress suicid...,ketamin nasal spray show promis depress suicid...
10312,dont mistake a bad day with depression! everyo...,1,dont mistake a bad day with depression! everyo...,dont mistake a bad day with depression! everyo...,dont mistake a bad day with depression! everyo...,dont mistake a bad day with depression everyon...,dont mistake bad day depression everyone em,dont mistak bad day depress everyon em,do not mistak bad day depress everyon them
10313,0,1,,,,,,,

In [56]:
data.columns

Index(['message to examine', 'label (depression result)', 'clean_text',
       'clean_text1', 'clean_text2', 'clean_text3', 'clean_text4',
       'clean_stem_word', 'clean_tweets'],
      dtype='object')

In [58]:
#Dropping unwanted columns
data.drop(['message to examine', 'clean_text', 'clean_text1', 'clean_text2', 'clean_text3', 'clean_text4', 'clean_stem_word'], axis = 1, inplace = True)

In [59]:
data.head()

,label (depression result),clean_tweets
0,0,real good moment missssssssss much
1,0,read manga
2,0,
3,0,need send them account tomorrow oddli was not ...
4,0,add myspac myspacecomlookthund

In [60]:
data.shape

(10314, 2)

In [61]:
#Text Preprocessing
from sklearn.feature_extraction.text import TfidfVectorizer

vect = TfidfVectorizer(max_features=10000, ngram_range  = (1,2), max_df = .95, min_df = 4)

vect.fit(data['clean_tweets'])

sparse = vect.transform(data['clean_tweets'])

In [62]:
sparse

<10314x3854 sparse matrix of type '<class 'numpy.float64'>'
	with 78734 stored elements in Compressed Sparse Row format>

In [63]:
spare_pd = sparse.toarray()

In [64]:
finaldata = pd.DataFrame(spare_pd)

In [65]:
finaldata.head()

,0,1,2,3,4,5,6,7,8,9,...,3844,3845,3846,3847,3848,3849,3850,3851,3852,3853
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
#Splitting Dataset
from sklearn.model_selection import train_test_split

In [72]:
train_X, test_X, train_y, test_y = train_test_split(finaldata, data['label (depression result)'], test_size = 0.2, random_state = 12121)

In [73]:
#Model and Evaluation
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

In [74]:
RFC_model = RandomForestClassifier()
param_grid = {"n_estimators" : [25,50,75,100], "max_depth" : [20,30,40], "criterion" : ["gini", "entropy"]}

In [75]:
GSCV = GridSearchCV(estimator= RFC_model, param_grid = param_grid,  n_jobs = -1, verbose =3)

In [76]:
GSCV.fit(train_X, train_y)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 tasks      | elapsed:  8.1min
[Parallel(n_jobs=-1)]: Done 120 out of 120 | elapsed: 50.2min finished

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [20, 30, 40],
                         'n_estimators': [25, 50, 75, 100]},
             verbose=3)

In [77]:
GSCV.best_estimator_

RandomForestClassifier(criterion='entropy', max_depth=40)

In [82]:
RFC_GSCV_model = RandomForestClassifier(criterion='entropy', max_depth=40)

In [83]:
RFC_GSCV_model.fit(train_X, train_y)

RandomForestClassifier(criterion='entropy', max_depth=40)

In [84]:
RFC_GSCV_model_pred = RFC_GSCV_model.predict(test_X)

In [85]:
from sklearn.metrics import classification_report

In [86]:
print(classification_report(test_y, RFC_GSCV_model_pred))

              precision    recall  f1-score   support

           0       0.98      1.00      0.99      1592
           1       1.00      0.94      0.97       471

    accuracy                           0.99      2063
   macro avg       0.99      0.97      0.98      2063
weighted avg       0.99      0.99      0.99      2063